:root {
  --bg-color: "#fffefc";
  --bg-color-dark: "#2F3437";
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  background-color: var(--bg-color);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
  }
}

.no-js .react-switch-bg,
.no-js .react-switch-handle {
  cursor: not-allowed !important;
}

.anchor {
  box-shadow: none;
  padding-right: 10px;
  margin-left: -30px;
  opacity: 0;
}

h1:hover .anchor {
  opacity: 1;
}
h2:hover .anchor {
  opacity: 1;
}
h3:hover .anchor {
  opacity: 1;
}
h4:hover .anchor {
  opacity: 1;
}
h5:hover .anchor {
  opacity: 1;
}
h6:hover .anchor {
  opacity: 1;
}
